@font-face {
    font-family: folks;
    src: url("../fonts/Folks-Light.ttf");
}



h2{
	margin-left: 40px;
	color: white;
}



body
{
	background: url("../images/bg.png");
	background-repeat: no-repeat; 
	background-size: 100%;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#science, #technology, #movies, #bonus, #math, #bible, #astronomy, #wtf {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1;  
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  	-webkit-animation-fill-mode:forwards; 
  	-moz-animation-fill-mode:forwards;
  	animation-fill-mode:forwards;

  	-webkit-animation-duration:1s;
  	-moz-animation-duration:1s;
  	animation-duration:1s;
	
 	-webkit-animation-delay: 3s;
  	-moz-animation-delay: 3s;
  	animation-delay: 3s;
	
	font-family: folks;
	color: white;
	width: 200px;
	float: right;
	height: 30px;
	background-color: transparent;
	border-radius: 10px;
	
	
}

#container {
 	
    margin: auto;
    background-image: url("../images/containerCategory2.png");
    background-repeat: no-repeat;
    background-size: 100%;
   	max-width: 1000px;
 	max-height: 700px;
 	min-height: 500px;
 	min-width: 1000px;
 	-webkit-animation-delay: 2s;
  	-moz-animation-delay: 2s;
  	animation-delay: 2s;
 }


.button{
	margin-top: 20px;
	
}
#category{
	margin: auto;
   	max-width: 500px;
 	max-height: 400px;
 	min-height: 300px;
 	min-width: 300px;
 	padding-top: 190px;
 	text-align: center;
	margin-left: 200px;

 	color: white;
}




#science:hover, #technology:hover, #movies:hover, #astronomy:hover, #wtf:hover, #bible:hover, #astronomy:hover, #bonus:hover, #math:hover{

	background-image: url("../images/choiceSelected.png");

}
