<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="../css/question.css">
<link rel="stylesheet" type="text/css" href="../css/animate.min.css">
<link rel="stylesheet" type="text/css" href="../css/angular.min.js">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>


<link rel="shortcut icon" href="../images/logo.png">
	<title>Question</title>
</head>
<body> 
<div id = "spacer"></div>
<div id="container" class="button animated swing" ng-app="myApp" ng-controller="myCtrl"> 
<div id = "category">
	<h1 class="button animated rubberBand"> What the Facts ! </h1>
</div>
<div id="Question" class="button animated zoomIn">
	 <h2>Who owns the Guinness World Record title,
	 </br> 'Largest Gospel Choir' ? </h2></div>
<div id="choice1">Amasong</div>
<div id="choice2">Ang Dating Daan Chorale</div>
<div id="choice3">Chicago A Cappella</div>
<div id="choice4">Philippine Madrigal Singers</div>




First Name: <input ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

<p>{{5+3}}</p>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
});
</script>

</div>
</body>
</html>